// Colours

$color-primary		: 		#5ad3c0; // Jio Green
$color-secondary    : 		#9784db; // Jio Purple

$color-darkBlue  	: 		#0b4069; // Dark Blue
$color-greyBlue   	: 		#657a8b; // Grey Blue

$color-white		:  		#ffffff;
$color-black		:  		#333333;