button,
.button {
	border: none;
	border-radius: 3px;
	padding: 10px 25px;
	color: $color-white;
	background: $color-primary;
	font-weight: 400;
	font-size: .938em;
	text-transform: uppercase;
	transition: background 400ms;

	&:hover {
		background: shade($color-primary, 5%);
	}
}