.navbar {
	height: 80px;
	width: 100%;
	background: rgba(255,255,255,0.9);
	// position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	padding: 0 2%;
	// border-bottom: 1px solid black;

	.nav-container {
		@include outer-container;
		padding: 15px 0;
		height: 80px;

		@include media($tablet) {
			padding-left: 10px;
			padding-right: 40px;
		}

		.brand {
			padding: 10px 0;
			float: left;

			.logo {
				float: left;
				height: 30px;
				width: 107px;
			}
		}

		.nav-links {
			float: right;
			margin: 0;
			height: 50px;
			padding: 3px 0;

			@include media($tablet) {
				padding: 13px 0;
			}

			li {
				display: inline;
				margin: 0 0 0 60px;

				@include media($tablet) {
					margin: 0;
				}
			}

			a {
				color: $color-primary;
				font-weight: 400;
				font-size: .938em;
				text-transform: uppercase;
				text-decoration: none;
				transition: color 400ms ease;

				&:hover {
					color: shade($color-primary, 5%);
				}
			}

			button {
				@include media($tablet) {
					display: none;
				}
			}
		}
	}
}

.navbar-fixed {
	position: fixed;
	top: 0;
	left: 0;
	margin-top: -80px;
	transition: all 200ms ease;
}

.navbar-transparent {
	background: transparent;
}

.navbar-company {
	background: rgba(11, 64, 105, 0.8);
}