#mc_embed_signup.mailchimp-newsletter {
	@include span-columns(10);
	@include shift(1);
	margin-top: 36px;

	div.mc-field-group input {
		@include span-columns(8);
		@include shift(2);
		width: 45%;
		border: none;
		float: left;
		vertical-align: middle;
		position: relative;
		margin-right: 0;
	}	

	.mc-field-group input:after {
		content: '*';
		position: absolute;
		color: $color-primary;
		font-size: 200%;
		top: 15px;
		right: 10px;	
	}

	input.button {
		border: 1px solid $color-white;
		background: none;
		margin-left: 10px;
		margin-top: 0;
		margin-bottom: 0;
		width: 20%;
		float: left;
		vertical-align: middle;
		transition: background 400ms;

		&:hover {
			background: rgba(255,255,255,0.1);
		}
	}

	div.mce_inline_error {
		@include span-columns(8);
		@include shift(2);
		background-color: $color-secondary;
		position: absolute;
		top: 50px;
		left: 5px;
		text-align: left;
		font-weight: 300;
	}

	div#mce-success-response {
		@include span-columns(8);
		@include shift(2);
		background-color: $color-secondary;
		color: $color-white;
		margin-top: 10px;
	}
}

