.company-header {
	background: url('../img/company-bg@2x.jpg');
	background-size: cover;
	background-position: center center;
	height: 500px;
	margin-top: -80px;

	.company-header-container {
		@include outer-container;
		text-align: center;
		padding: 172px 0;

		h1 {
			color: $color-white;
			font-size: 63px;
			font-weight: 300;
		}
	}
}

.vision {

	.vision-container {
		@include outer-container;
		padding: 80px 0;
		text-align: center;

		@include media($tablet) {
			padding: 60px 5%;
		}

		h2 {
			@include span-columns(10);
			font-size: 45px;
			font-weight: 200;

			@include media($tablet) {
				@include span-columns(4);
				margin-bottom: 20px;
			}
		}

		h3 {
			@include span-columns(10);
			font-size: 31px;
			font-weight: 200;
			
			@include media($tablet) {
				@include span-columns(4);
			}
		}

		h4 {
			@include span-columns(5);
			text-align: left;
			font-size: 22px;
			font-weight: 200;
			margin-top: 60px;
			margin-bottom: 30px;
			padding: 0 2%;

			@include media($tablet) {
				@include span-columns(4);
				padding: 0;
				margin: 15px 0;
			}
		}
	}
}

.team {
	background: $color-secondary;

	.team-container {
		@include outer-container;
		padding-top: 60px;
		padding-bottom: 80px;
		text-align: center;

		h2 {
			color: $color-white;
		}

		.map {
			margin-top: 80px;
			background: url('../img/map@2x.png');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			height: 556px;
			position: relative;
		}
	}
}

#usa-popup, #uk-popup, #vn-popup {
	display: none;
}

.contact {

	.contact-container {
		@include outer-container;
		padding: 100px 0;
		text-align: center;

		@include media($tablet) {
			padding: 100px 5%;			
		}

		h2 {
			margin-bottom: 30px;
		}
	}
}