.header {
	background: $color-white;
	padding: 70px 0;

	@include media($tablet) {
		padding-top: 0;
		padding-bottom: 80px;
	}

	@include media($mobile) {
		padding-top: 0;
		padding-bottom: 40px;
	}

	.header-container {
		@include outer-container;
		margin-bottom: 180px;
		padding: 0 2%;


		@include media($tablet) {
			@include pad(0 5%);			
			margin-bottom: 140px;
		}

		@include media($mobile) {
			@include pad(0 5%);			
			margin-top: 20px;
			margin-bottom: 0;
		}

		.title-section {
			@include span-columns(7);
			margin-top: 60px;

			h1 {
				padding-right: 15%;

				@include media($tablet) {
					padding: 0;
				}
			}

			span {
				font-weight: 300;
			}

			@include media($tablet) {
				@include span-columns(4);
				text-align: center;
			}
		}
	}

	.telephone {
		// margin-bottom: 20px;

		.intl-tel-input {
			width: 59%;
			margin-right: 10px;
			margin-top: 15px;
			vertical-align: middle;			

			@include media($sixhundred) {
				width: 100%;
			}

			.mobile-number {
				width: 100%;
			}
		}

		button {
			height: 50px;
			margin-top: 15px;
			vertical-align: middle;

			@include media($sixhundred) {
				width: 100%;
			}
		}
	}

	.telephone-response {
		margin-top: 15px;
		margin-bottom: 20px;
		

		p {
			color: $color-primary;
			// height: 50px;
			// padding: 15px 0;
		}
	}

	.header-animation {
		@include span-columns(5);
		text-align: right;
		padding-right: 7%;

		@include media($tablet) {
			@include span-columns(4);
			text-align: center;
			padding-right: 0;
		}

		img {
			margin-top: 5px;
			position: absolute;

			@include media($mobile) {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
				position: relative;
				height: 582px;
				width: 280px;
				margin-top: 20px;
			}
		}

		video {
			position: relative;
			margin-left: 25px;
			top: 97px;
				
			@include media($mobile) {
				display: none;
			}
		}
	}
}

.signup {
	text-align: center;
	background: $color-secondary;

	.signup-container {
		@include outer-container;
		padding: 90px 0;

		@include media($tablet) {
			@include pad(60px 5%);			
		}
	
		h2 {
			color: $color-white;
			margin-top: -10px;
			@include span-columns(10);
			@include shift(1);
			padding: 0 40px;

			@include media($tablet) {
				@include span-columns(4);
				@include shift(0);
				padding: 0;				
			}
		}

		.signup-form {
			@include span-columns(10);
			@include shift(1);
			margin-top: 36px;

			@include media($mobile) {
				@include shift(0);
				@include span-columns(2);
			}	

			input {
				width: 50%;
				border: none;
				margin-right: 10px;
				vertical-align: middle;				

				@include media($mobile) {
					width: 100%;
				}	
			}

			button {
				height: 50px;
				border: 1px solid $color-white;
				background: transparent;
				width: 20%;
				transition: background 400ms;
				vertical-align: middle;				

				&:hover {
					background: rgba(255,255,255,0.1);
				}

				@include media($mobile) {
					@include span-columns(2);
					margin-top: 10px;
				}				
			}
		}
	}
}

.overview {

	.overview-container {
		@include outer-container;
		padding-top: 80px;

		@include media($tablet) {
			padding-left: 5%;
			padding-right: 5%;
			padding-top: 60px;	
		}

		.overview-row {
			@include row();
			padding-bottom: 80px;

			@include media($tablet) {
				// @include row();
				padding-bottom: 40px;
			}

			.overview-col {
				text-align: center;
				@include span-columns(2);

				@include media($tablet) {
					@include span-columns(2);
					@include omega;
					@include shift(0);
					margin-bottom: 30px;
				}

				@include media($mobile) {
					@include span-columns(2);
					margin-bottom: 30px;
				}

				a {
					text-decoration: none;
					display: block;
					border-radius: 3px;
					font-weight: 300;
					padding-top: 10px;
					padding-bottom: 5px;
					transition: background 400ms ease;

					&:hover {
						background: #f5f8fa;
					}
				}
			}
		}
	}

	.hr {
		@include span-columns(8);
		@include shift(2);
		border-bottom: 1px solid #d0dee8;

		@include media($tablet) {
			@include span-columns(4);
			@include shift(0);
		}
	}
}

.features {

	.features-container {
		@include outer-container;
		padding-top: 40px;
		padding-bottom: 100px;

		@include media($onethousand) {
			padding-left: 15%;
			padding-right: 15%;
			padding-top: 20px;
			padding-bottom: 60px;
			text-align: center;		
		}
		
		@include media($tablet) {
			padding-left: 10%;
			padding-right: 10%;
		}

		@include media($mobile) {
			padding-left: 5%;
			padding-right: 5%;
		}

		h2 {
			text-align: center;
		}

		.features-title {

			@include media($onethousand) {
				display: none;
			}
		}

		.features-row {
			@include row();

			h2 {
				text-align: left;

				@include media($onethousand) {
					text-align: center;
				}
			}

			.features-col-copy {
				@include span-columns(5);
				padding-right: 15px;

				@include media($onethousand) {
					@include shift(0);
					@include span-columns(12);
					padding-right: 0;
				}
			}

			.features-col-img {
				@include span-columns(5);

				@include media($onethousand) {
					@include shift(0);
					@include span-columns(12);
					margin-top: 20px;
				}
			}
		}

		.feature-1 {
			margin-top: 10px;

			.features-col-copy {
				margin-top: 50px;

				.device-icons {
					margin-top: 15px;

					img {
						margin-right: 15px;

						&:last-child {
							margin-right: 0;
						}
					}
				}
			}

			.features-col-img {
				margin-top: 60px;

				@include media($onethousand) {

					img {
						width: 290px;			
					}
				}
			}
		}

		.feature-2 {

			.features-col-copy {
				margin-top: 80px;

				@include media($onethousand) {
					margin-top: 30px;
				}
			}

			.features-col-img {

				@include media($onethousand) {

					img {
						width: 200px;
						height: 415px;
						margin-top: 40px;
					}
				}
			}


		}

		.feature-3 {

			.features-col-copy {
				margin-top: 100px;

				@include media($onethousand) {
					margin-top: 60px;
				}
			}

			.features-col-img {

				@include media($onethousand) {

					img {
						width: 280px;
						height: 400px;
						margin-top: 40px;
					}
				}
			}
		}

		.feature-4 {

			.features-col-copy {
				margin-top: 90px;

				@include media($onethousand) {
					margin-top: 60px;
				}
			}

			.features-col-img {

				@include media($onethousand) {

					img {
						width: 280px;
						height: 400px;
						margin-top: 40px;
					}
				}
			}
		}		
	}
}

.security {
	background: $color-darkBlue;
	text-align: center;

	.security-container {
		@include outer-container;
		padding-top: 100px;
		padding-bottom: 80px;

		@include media($tablet) {
			@include pad(80px 5%);	
		}

		h2, h4 {
			color: $color-white;
		}

		.security-col {
			@include span-columns(4);
			margin-top: 15px;
			text-align: left;
			padding-right: 2%;
			
			p {
				color: #d2d2d2;
				margin-bottom: 1.5em;
			}

			@include media($tablet) {
				@include span-columns(4);
				padding: 0 10%;
			}

			@include media($mobile) {
				padding: 0;
			}
		}
	}
}

.modal {
	background: rgba(11, 64, 105, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	display: none;

	.modal-container {
		@include outer-container;
		text-align: center;
		padding: 10% 0;

		.modal-bg {
			@include span-columns(8);
			@include shift(2);
			background: $color-white;
			padding-left: 10%;
			padding-right: 10%;
			padding-top: 40px;
			padding-bottom: 60px;
			border-radius: 3px;
			position: relative;

			.close-modal {
				position: absolute;
				height: 80px;
				width: 80px;
				right: 0;
				top: 0;
				background: url('../img/close-black@2x.png');
				background-size: 20% 20%;
				background-position: center center;
				background-repeat: no-repeat;
				cursor: pointer;
			}
		}

		.telephone {
			width: 100%;

			input {
				width: 100%;
				margin-top: 40px;
			}

			button {
				width: 100%;
				height: 50px;
				margin-top: 20px;
			}
		}
	}
}

