.header {
	background: $color-white;
	padding: 70px 0;

	.header-container {
		@include outer-container;
		margin-top: 100px;
		margin-bottom: 180px;

		@include media($mobile) {
			@include pad(0 10px);			
			margin-top: 20px;
			margin-bottom: 0;
		}

		.title-section {
			@include span-columns(6);
			margin-top: 20px;

			h1 {
				padding-right: 15%;

				@include media($mobile) {
					padding: 0;
				}
			}

			span {
				font-weight: 300;
			}

			@include media($mobile) {
				@include span-columns(2);
				text-align: center;
			}
		}
	}

	.telephone {
		margin: 30px 0;

		.intl-tel-input {
			width: 60%;
			margin-right: 10px;
			vertical-align: middle;			

			@include media($mobile) {
				width: 100%;
			}

			.mobile-number {
				width: 100%;
			}
		}

		button {
			height: 50px;
			vertical-align: middle;

			@include media($mobile) {
				width: 100%;
				margin-top: 10px;
			}
		}
	}

	.header-animation {
		@include span-columns(6);
		text-align: right;
		padding-right: 7%;

		@include media($mobile) {
			@include span-columns(2);
			text-align: center;
			padding-right: 0;
		}

		img {
			margin-top: 5px;
			position: absolute;

			@include media($mobile) {
				position: relative;
				height: 582px;
				width: 280px;
				margin-top: 20px;
			}
		}

		video {
			position: relative;
			margin-left: 25px;
			top: 97px;
				
			@include media($mobile) {
				display: none;
			}
		}
	}
}

.signup {
	text-align: center;
	background: $color-secondary;

	.signup-container {
		@include outer-container;
		padding: 90px 0;

		@include media($mobile) {
			@include pad(60px 10px);			
		}
	
		h2 {
			color: $color-white;
			margin-top: -10px;
			@include span-columns(10);
			@include shift(1);
			padding: 0 40px;

			@include media($mobile) {
				@include span-columns(2);
				@include shift(0);
				padding: 0;				
			}
		}

		.signup-form {
			@include span-columns(10);
			@include shift(1);
			margin-top: 36px;

			@include media($mobile) {
				@include shift(0);
				@include span-columns(2);
			}	

			input {
				width: 50%;
				border: none;
				margin-right: 10px;
				vertical-align: middle;				

				@include media($mobile) {
					width: 100%;
				}	
			}

			button {
				height: 50px;
				border: 1px solid $color-white;
				background: transparent;
				width: 20%;
				transition: background 400ms;
				vertical-align: middle;				

				&:hover {
					background: rgba(255,255,255,0.1);
				}

				@include media($mobile) {
					@include span-columns(2);
					margin-top: 10px;
				}				
			}
		}
	}
}

.overview {

	.overview-container {
		@include outer-container;
		padding-top: 80px;

		@include media($mobile) {
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 60px;	
		}

		.overview-row {
			@include row();
			padding-bottom: 80px;

			@include media($mobile) {
				padding-bottom: 40px;
			}

			.overview-col {
				text-align: center;
				@include span-columns(2);

				a {
					text-decoration: none;
					display: block;
					border-radius: 3px;
					font-weight: 300;
					padding-top: 10px;
					padding-bottom: 5px;
					transition: background 400ms ease;

					&:hover {
						background: #f5f8fa;
					}
				}

				@include media($mobile) {
					@include span-columns(2);
					margin-bottom: 30px;
				}
			}
		}
	}

	.hr {
		@include span-columns(8);
		@include shift(2);
		border-bottom: 1px solid #d0dee8;

		@include media($mobile) {
			@include span-columns(2);
			@include shift(0);
		}
	}
}

.features {

	.features-container {
		@include outer-container;
		padding-top: 40px;
		padding-bottom: 100px;

		@include media($mobile) {
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 20px;
			padding-bottom: 60px;
			text-align: center;
		}

		h2 {
			text-align: center;
		}

		.features-title {

			@include media($mobile) {
				display: none;
			}
		}

		.features-row {
			@include row();

			h2 {
				text-align: left;

				@include media($mobile) {
					text-align: center;
				}
			}

			.features-col-copy {
				@include span-columns(5);
				padding-right: 15px;

				@include media($mobile) {
					@include span-columns(2);
					padding-right: 0;
				}
			}

			.features-col-img {
				@include span-columns(5);

				@include media($mobile) {
					@include span-columns(2);
				}
			}
		}

		.feature-1 {
			margin-top: 10px;

			.features-col-copy {
				margin-top: 45px;
			}

			@include media($mobile) {
				margin-top: 0;
				text-align: center;

				img {
					width: 300px;
					height: 355px;
					margin-top: 40px;				
				}
			}
		}

		.feature-2 {

			.features-col-copy {
				margin-top: 80px;

				@include media($mobile) {
					margin-top: 60px;
				}
			}

			@include media($mobile) {

				img {
					width: 200px;
					height: 415px;
					margin-top: 40px;
				}
			}
		}

		.feature-3 {

			.features-col-copy {
				margin-top: 100px;

				@include media($mobile) {
					margin-top: 60px;
				}
			}

			img {
				float: right;
			}

			@include media($mobile) {

				img {
					width: 300px;
					height: 450px;
					margin-top: 40px;
				}
			}
		}

		.feature-4 {

			.features-col-copy {
				margin-top: 90px;

				@include media($mobile) {
					margin-top: 60px;
				}
			}

			@include media($mobile) {

				img {
					width: 300px;
					height: 429px;
					margin-top: 40px;
				}
			}
		}		
	}
}

.security {
	background: $color-darkBlue;
	text-align: center;

	.security-container {
		@include outer-container;
		padding: 120px 0;

		@include media($mobile) {
			@include pad(80px 10px);	
		}

		h2, h4 {
			color: $color-white;
		}

		.security-col {
			@include span-columns(4);
			margin-top: 15px;
			text-align: left;
			
			p {
				color: #d2d2d2;
			}

			@include media($mobile) {
				@include span-columns(2);
			}
		}
	}
}